PG_USER=vikunja
PG_PASSWORD=pg-password-change-it
VIKUNJA_SERVICE_SECRET=generate-it
VIKUNJA_MAILER_EMAIL=your-email-notificator@domain.com
VIKUNJA_MAILER_PASSWORD=your-smtp-password
VIKUNJA_SERVICE_PUBLICURL=https://task.your-domain.com
VIKUNJA_MAILER_HOST=your-smtp.server.com
VIKUNJA_MAILER_PORT=<smtp-port>
